In [16]:
import numpy as np
import pandas as pd
import string

files = {'1_RSQDepartures.csv': '1_RSQDepartures.csv','2_RSQSubmissions.csv': '2_RSQSubmissions.csv','3_RSQDemographics.csv': '3_RSQDemographics.csv','countries_codes_and_coordinates.csv': 'countries_codes_and_coordinates.csv' }
df = pd.read_csv(files['1_RSQDepartures.csv'])
df2 = pd.read_csv(files['2_RSQSubmissions.csv'])
df3 = pd.read_csv(files['3_RSQDemographics.csv'])

df_country = pd.read_csv(files['countries_codes_and_coordinates.csv'])

In [17]:
columns = ['Year', 'Country of Origin (ISO)', 'Country of Origin',
       'Latitude - Country of Origin', 'Longitude - Country of Origin',
       'Country of Asylum (ISO)', 'Country of Asylum',
       'Latitude - Country of Asylum', 'Longitude - Country of Asylum',
       'Country of Resettlement (ISO)', 'Country of Resettlement',
       'Latitude - Country of Resettlement',
       'Longitude - Country of Resettlement', 'Total departures (persons)']

In [18]:
df.head()

,Year,Country of Origin (ISO),Country of Origin,Latitude - Country of Origin,Longitude - Country of Origin,Country of Asylum (ISO),Country of Asylum,Latitude - Country of Asylum,Longitude - Country of Asylum,Country of Resettlement (ISO),Country of Resettlement,Latitude - Country of Resettlement,Longitude - Country of Resettlement,Total departures (persons)
0,2005,IRQ,Iraq,33,44,VEN,"Venezuela, Bolivarian Republic of",8.00,-66.0,AUS,Australia,-27.0,133.0,2
1,2014,SYR,Syrian Arab Republic,35,38,CUB,Cuba,21.50,-80.0,BRA,Brazil,-10.0,-55.0,1
2,2015,SYR,Syrian Arab Republic,35,38,CUB,Cuba,21.50,-80.0,BRA,Brazil,-10.0,-55.0,1
3,2014,AFG,Afghanistan,33,65,ECU,Ecuador,-2.00,-77.5,BRA,Brazil,-10.0,-55.0,1
4,2018,IRN,Iran,32,53,BHS,Bahamas,24.25,-76.0,CAN,Canada,60.0,-95.0,1

In [19]:
df2.head()

,Year,Country of Origin (ISO),Country of Origin,Country of Asylum (ISO),Country of Asylum,Country of Resettlement (ISO),Country of Resettlement,Total submissions (persons)
0,2008,IRQ,Iraq,PER,Peru,AUS,Australia,1
1,2005,IRQ,Iraq,VEN,"Venezuela, Bolivarian Republic of",AUS,Australia,2
2,2003,AFG,Afghanistan,CUB,Cuba,BRA,Brazil,7
3,2014,SYR,Syrian Arab Republic,CUB,Cuba,BRA,Brazil,2
4,2013,AFG,Afghanistan,ECU,Ecuador,BRA,Brazil,1

In [20]:
df3.head()

,Year,Country of Origin (ISO),Country of Origin,Country of Resettlement (ISO),Country of Resettlement,Female 0-17,Female 18-59,Female 60+,Female (unknown age),Female Total,Male 0-17,Male 18-59,Male 60+,Male (unknown age),Male Total,Other/Unknown,Grand Total
0,2017,SYR,Syrian Arab Rep.,CHE,Switzerland,339.0,273.0,11.0,0.0,623.0,396.0,281.0,7.0,0.0,684.0,0.0,1307.0
1,2017,All others,All others,URY,Uruguay,2.0,6.0,0.0,0.0,8.0,3.0,4.0,1.0,0.0,8.0,0.0,16.0
2,2017,All others,All others,AUS,Australia,134.0,167.0,6.0,0.0,307.0,108.0,154.0,2.0,0.0,264.0,0.0,571.0
3,2017,AFG,Afghanistan,NZL,New Zealand,10.0,4.0,0.0,0.0,14.0,5.0,8.0,1.0,0.0,14.0,0.0,28.0
4,2017,IRQ,Iraq,ITA,Italy,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,3.0,0.0,4.0

In [21]:
for col in df_country.columns: 
    #if df_country[col].dtype != int:
    df_country[col] = df_country[col].astype(str).str.replace("\"",'')

# for col in df3.columns: 
#     try:
#         df3[col] = df3[col].str.replace('[^\w\s]','')
#     except:
#         pass
    
df_country.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,AF,AFG,4,33,65
1,Albania,AL,ALB,8,41,20
2,Algeria,DZ,DZA,12,28,3
3,American Samoa,AS,ASM,16,-14.3333,-170
4,Andorra,AD,AND,20,42.5,1.6

In [22]:
def geocode(country_name):
    for index, row in df_country.iterrows():
        if country_name == row['Country']: 
            return [float(row['Latitude (average)']),float(row['Longitude (average)'])]

In [23]:
# def geocodeISO(iso):
#     for index, row in df_country.iterrows():
#         if iso == row['Alpha-3 code']:
#             return ((row['Latitude (average)']),(row['Longitude (average)']))

In [24]:
df2['Country of Origin Coordinates'] = df2['Country of Origin'].apply(geocode)
df2['Country of Asylum Coordinates'] = df2['Country of Asylum'].apply(geocode)
df2['Country of Resettlement Coordinates'] = df2['Country of Resettlement'].apply(geocode)

df3['Country of Origin Coordinates'] = df3['Country of Origin'].apply(geocode)
df3['Country of Resettlement Coordinates'] = df3['Country of Resettlement'].apply(geocode)

# df['Country of Origin Coordinates'] = df['Country of Origin (ISO)'].apply(geocodeISO)
# df['Country of Asylum Coordinates'] = df['Country of Asylum'].apply(geocodeISO)
# df['Country of Resettlement Coordinates'] = df['Country of Resettlement (ISO)'].apply(geocodeISO)

In [25]:
df2.head()

,Year,Country of Origin (ISO),Country of Origin,Country of Asylum (ISO),Country of Asylum,Country of Resettlement (ISO),Country of Resettlement,Total submissions (persons),Country of Origin Coordinates,Country of Asylum Coordinates,Country of Resettlement Coordinates
0,2008,IRQ,Iraq,PER,Peru,AUS,Australia,1,"[33.0, 44.0]","[-10.0, -76.0]","[-27.0, 133.0]"
1,2005,IRQ,Iraq,VEN,"Venezuela, Bolivarian Republic of",AUS,Australia,2,"[33.0, 44.0]","[8.0, -66.0]","[-27.0, 133.0]"
2,2003,AFG,Afghanistan,CUB,Cuba,BRA,Brazil,7,"[33.0, 65.0]","[21.5, -80.0]","[-10.0, -55.0]"
3,2014,SYR,Syrian Arab Republic,CUB,Cuba,BRA,Brazil,2,"[35.0, 38.0]","[21.5, -80.0]","[-10.0, -55.0]"
4,2013,AFG,Afghanistan,ECU,Ecuador,BRA,Brazil,1,"[33.0, 65.0]","[-2.0, -77.5]","[-10.0, -55.0]"

In [26]:
df3.head()

,Year,Country of Origin (ISO),Country of Origin,Country of Resettlement (ISO),Country of Resettlement,Female 0-17,Female 18-59,Female 60+,Female (unknown age),Female Total,Male 0-17,Male 18-59,Male 60+,Male (unknown age),Male Total,Other/Unknown,Grand Total,Country of Origin Coordinates,Country of Resettlement Coordinates
0,2017,SYR,Syrian Arab Rep.,CHE,Switzerland,339.0,273.0,11.0,0.0,623.0,396.0,281.0,7.0,0.0,684.0,0.0,1307.0,None,"[47.0, 8.0]"
1,2017,All others,All others,URY,Uruguay,2.0,6.0,0.0,0.0,8.0,3.0,4.0,1.0,0.0,8.0,0.0,16.0,None,"[-33.0, -56.0]"
2,2017,All others,All others,AUS,Australia,134.0,167.0,6.0,0.0,307.0,108.0,154.0,2.0,0.0,264.0,0.0,571.0,None,"[-27.0, 133.0]"
3,2017,AFG,Afghanistan,NZL,New Zealand,10.0,4.0,0.0,0.0,14.0,5.0,8.0,1.0,0.0,14.0,0.0,28.0,"[33.0, 65.0]","[-41.0, 174.0]"
4,2017,IRQ,Iraq,ITA,Italy,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,3.0,0.0,4.0,"[33.0, 44.0]","[42.8333, 12.8333]"

In [27]:
df2.to_csv("2_RSQSubmissions_cleaned.csv")
df3.to_csv("3_RSQDemographics_cleaned.csv")